abrawlpy==1.6.2
bs4
clashroyale
colorthief==0.2.1
dnspython==1.15.0
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py==1.0.0a1473+g607771c
motor==1.2.1
python-dotenv==0.8.2
cachetools==2.1.0